@import "../../../scss/lib/vars.scss";

.gallery {
  flex: auto;
  padding: 1.5em;
  margin: 1em;
  max-width: 17em;
  min-height: 28em;
}

.gallery:hover {
  background: $primary-red;
  color: $white;
  cursor: pointer;
}

.gallery.ng-enter {
  transition: 1.5s;
  opacity: 0;
}

.gallery.ng-enter-active {
  opacity: 1;
}

.gallery ul {
  list-style-position: inside;
}

.gallery li {
  text-align: center;
}

.gallery img {
  display: block;
  margin: 0 auto;
}

.gallery p {
  text-align: center;
  max-width: 16em;
  margin: 1em auto;
}
