<section class="form upload_pic group">
  <h3>Create a New Gallery</h3>
  <form name="uploadPicForm"
    class="gallery-form"
    ng-submit="uploadPicCtrl.uploadPic()">

    <fieldset>
      <label for="name">name</label>
      <input name="name" class="input-std" type="text" ng-model="uploadPicCtrl.newPic.name" required>
      <label for="desc">description</label>
      <input name="desc" class="input-std" ng-model="uploadPicCtrl.newPic.desc" required>
    </fieldset>
    <div class='drop' ngf-drop ng-model="uploadPicCtrl.newPic.data">
      Drag and drop a pic here or
      <button ngf-select ng-model="uploadPicCtrl.newPic.data" class="btn">browse for file</button>
    </div>
    <div ng-if="uploadPicCtrl.newPic.data">
      <h4>Preview:</h4>
      <img ngf-src="uploadPicCtrl.newPic.data" ngf-resize="{width: 100, height: 100, quality: 0.9}" />
      <ul>
        <li>
          Name: {{ uploadPicCtrl.newPic.name }}
        </li>
        <li>
          Description: {{ uploadPicCtrl.newPic.desc }}
        </li>
      </ul>
    </div>
    <button class="btn btn-right" type="submit">upload pic</button>
  </form>
</section>
