.createGallery {
  background: transparent;
  width: 50%;
  margin: 0 auto;
}

@media all and (max-width: 1250px) {
  .createGallery {
    width: 75%;
  }
}

@media all and (max-width: 750px) {
  .createGallery {
    width: 100%;
  }
}
