
<li class="gallery-item">
  <div class="gallery-container" class="current-item" ng-if="!galleryItemCtrl.showEditGallery">
    <div>
      <span class="item-label">name:</span>
      <span>{{ galleryItemCtrl.gallery.name }}</span>
    </div>

    <div>
      <span class="item-label">description:</span>
      <span>{{ galleryItemCtrl.gallery.desc }}</span>
    </div>
    <button class="btn-std" ng-click="galleryItemCtrl.showEditGallery = !galleryItemCtrl.showEditGallery">edit</button>
    <button class="btn-std" ng-click="galleryItemCtrl.deleteGallery()">delete</button>
  </div>

  <edit-gallery ng-if="galleryItemCtrl.showEditGallery" gallery="galleryItemCtrl.gallery"></edit-gallery>
<!-- The below code will break my app if uncommented, it will prevent all images from being loaded -->
  <upload-pic gallery="galleryCtrl.gallery"></upload-pic>

</li>
