<section class="form signup">
  sign up.
  <form class="signupForm"
    ng-submit="signupCtrl.signup()"
    no-validate>
      <div>
        <input class="input-std"
        type="text"
        placeholder="name"
        ng-minlength="4"
        ng-model="signupCtrl.user.username" required>
      </div>

      <div>
        <input class="input-std"
        type="email"
        placeholder="email"
        ng-model="signupCtrl.user.email">
      </div>

      <div>
        <input class="input-std"
        type="password"
        placeholder="password"
        ng-minlength="3"
        ng-model="signupCtrl.user.password" required>
      </div>

      <button type="submit" class="btn btn-left">sign up</button>
  </form>
</section>
