<div class="update_gallery clear" ng-show="false">
  <h4>Update Gallery</h4>
  <form name="updateGalleryForm"
    class="gallery-form"
    ng-submit="updateGalleryCtrl.updateGallery()">

    <fieldset>
      <label for="name">name</label>
      <input name="name" class="input-std" type="text" ng-model="updateGalleryCtrl.gallery.name" required>
      <label for="desc">description</label>
      <input name="desc" class="input-std" ng-model="updateGalleryCtrl.gallery.desc" required>
    </fieldset>
  </form>
  <div class="centered_items">
    <button class="btn" type="button" name="cancel" ng-click="updateGalleryCtrl.cancel()">cancel</button>
    <button class="btn" type="save" name="update" form="updateGalleryForm">update</button>
  </div>
</div>
