@import "../../scss/lib/theme/vars";

.btn-std-create-gallery {
  margin-left: 17em;
}
.btn-std-delete {
  background: $btn-primary * 5;
  color: $btn-primary;
}

form {
  display: flex;
  flex-direction: column;
}

.input-std {
  width: 90%;
  font-size: 1em;
  height: 2.5em;
  padding: .25em;
  border-radius: .40em;
  padding-left: 1em;
}

fieldset {
  margin: .5em;
}
.gallery-container {
  overflow: auto;
  margin: 5%;
  height: 10em;
  padding: 1em;
  border-radius: .40em;
  background-color: $brand-primary * 2;
}

.btn-gallery-div {
  width: 100%;
  height: 7em;
  display: flex;
  flex-direction: row-reverse;
  padding: .5em;
}

footer {
  width: 85%;
  height: 5em;
  background-color: $brand-primary * 2.5;
  margin-top: 8em;
  text-align: right;
  padding-right: 3em;
  padding-top: 3em;
}
