@import "../../scss/lib/theme/vars";
//
// header {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   margin-bottom: 2em;
//   background-color: $btn-primary * 2;
//   width: 95%;
//   padding: .5em;
//   color: white;
// }
//
// .header-div {
//   display: flex;
//   flex-direction: row;
// }
//
// .btn-header, .btn-std, .btn-std-create-gallery, .btn-std-delete {
//   width: 6em;
//   height: 3em;
//   padding: 1% 5%;
//   background: $btn-primary;
//   color: $white;
//   font-size: 4vw;
//   border: none;
//   border-radius: $btn-radius;
//   cursor: pointer;
//   transition: 350ms all;
//   margin: 1em;
//
//   &:hover {
//     background: $brand-secondary;
//     color: $btn-primary;
//   }
// }
.btn-std-create-gallery {
  margin-left: 17em;
}
.btn-std-delete {
  background: $btn-primary * 5;
  color: $btn-primary;
}
.btn-header {
  background: $btn-primary * 6;
  color: $btn-primary * 3;
}
//
// .cfgram-header {
//   margin-top: .675em;
// }
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

form {
  display: flex;
  flex-direction: column;
}

.input-std {
  width: 90%;
  font-size: 1em;
  height: 2.5em;
  padding: .25em;
  border-radius: .40em;
  padding-left: 1em;
}

fieldset {
  margin: .5em;
}
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.gallery-container {
  // display: flex;
  // flex-wrap: wrap;
  overflow: auto;
  margin: 5%;
  height: 11em;
  padding: 1em;
  border-radius: .40em;
  background-color: $brand-primary * 2;
}
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.btn-gallery-div {
  width: 100%;
  height: 7em;
  display: flex;
  flex-direction: row-reverse;
  padding: .5em;
}
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

footer {
  width: 85%;
  height: 5em;
  background-color: $brand-primary * 2.5;
  margin-top: 8em;
  text-align: right;
  padding-right: 3em;
  padding-top: 3em;
}
