@import "../../scss/lib/vars.scss";

.home {
  background: white;
  padding: 2em;
}

.gallery_view {
  clear: both;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

.gallery {
  // flex: auto;
  padding: 1.5em;
  margin: 1em;
}

.gallery:hover {
  background: $primary-red;
  color: $white;
  cursor: pointer;
}

.gallery.ng-enter {
  transition: 1.5s;
  opacity: 0;
}

.gallery.ng-enter-active {
  opacity: 1;
}

.gallery ul {
  list-style-position: inside;
}

.gallery li {
  text-align: center;
}

.gallery img {
  display: block;
  margin: 0 auto;
}

.gallery p {
  text-align: center;
}
